body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    margin: 0;

}

h1{ 
    text-align: center;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;

}


.blog1{
    border: 2px solid   black;
    width: 800px;
 text-align: center;
    margin: 0;
}
.blog1-head{
    text-align: center;
    font-size: 60px;
}

.blog1-img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin: 0%;

}

.blog1-description {
    font-size: 20px;
}