body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    margin: 0;

}

h1{ 
    text-align: center;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;

}


.blog1{
    border: 2px solid   black;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.blog1-head{
    text-align: center;
    font-size: 60px;
}

.blog1-img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin: 0%;
    text-align: center;
}

.blog1-description {
    font-size: 20px;
}

.blog2{
    border: 2px solid   black;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.blog2-head{
    text-align: center;
    font-size: 60px;
}

.blog2-img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin: 0%;
    text-align: center;
}

.blog2-description {
    font-size: 20px;
}


.blog3{
    border: 2px solid   black;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.blog3-head{
    text-align: center;
    font-size: 60px;
}

.blog3-img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin: 0%;
    text-align: center;
}

.blog3-description {
    font-size: 20px;
}